# Directories
sort/
Figures/
.venv

# Files
proposal/main.*
!proposal/main.tex
*.vvp
*.pdf
*.jpeg
*.odp
*.log
*.svg
*.png
*.MP4
*.SRT
*.python-version
*.pt

## Tex Genrated Files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
